*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-color: #143F6B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano{
    display: flex;
    font-family: Helvetica, sans-serif;
}

.key{
    height: calc(var(--width)*4);
    width: var(--width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5%;
    font-size: 1.2rem;
    font-weight: 500;    
}

.white{
    /* width: 100px; */
    /* height: 400px; */
    --width: 100px;
    background-color: white;
    border: 1px solid black;
}

.black{
    /* width: 60px; */
    /* height: 240px; */
    /* margin-left: -30px; */
    /* margin-right: -30px; */
    --width: 60px;    
    background-color: black;    
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
    color: white;
}